    /* Add your CSS styles here */

    /* Example media query for responsiveness */
    @media screen and (max-width: 600px) {

        /* Styles specific to mobile devices */
        .mobile body {
            /* background-image: url(mesh-527.png); */
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-blend-mode: overlay, hard-light, overlay, normal;
        }

        .mobile .header {
            text-align: center;
            font-size: 25px;
            font-weight: 600;
            background-image: linear-gradient(to left, #ffffff, #e9d4ff);
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            overflow-wrap: break-word;
            padding: 10px;
        }

        .mobile section {
            position: relative;
            width: 100%;
            height: 20vh;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .mobile section::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgb(0, 5, 34);
            background: linear-gradient(245deg, rgba(0, 5, 34, 1) 38%, rgba(58, 1, 115, 1) 65%);
            border-radius: 0 0 60% 60% / 0 0 100% 100%;
            transform: scaleX(1.5);
            z-index: -1;
        }

        .about {
            justify-content: flex-end;
  align-self: flex-end;
  margin-right: 10px;
        }

        .grid-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }

        .grid-item {
            width: calc(50% - 20px);
            height: 200px;
            background-color: lightgray;
            margin: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(10px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
            transition: transform 0.3s ease-in-out;
        }

        .grid-item:hover {
            transform: scale(1.05);
            box-shadow: 0 2px 4px rgba(2, 61, 255, 0.089);
        }

        .grid-item i {
            margin-bottom: 10px;
            transition: transform 0.3s ease-in-out;
            color: white;
        }

        .grid-item:hover i {
            transform: rotate(360deg);
        }

        .grid-item span {
            color: #fff;
            font-weight: bold;
            opacity: 1;
            text-shadow: 0 0 10px #fefefe, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #72ff80, 0 0 60px #7eff72, 0 0 70px #00b424;
        }

        .circular-progress {
            width: 100%;
            height: 100%;
            position: relative;
            opacity: 1;
        }

        .progress-text {
            font-size: 1rem;
            line-height: 1.2;
            color: #555;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    body {
        background-color: #d8f8df;


    }

    .header {

        font-size: 30px;
        /* font-weight: 900; */
        font-family: -apple-system-headline BlinkMacSystemFont, sans-serif;
        color: black;
        /* background-color:white; */
        display: flex;
        align-items: center;
        border-radius: 20px;
        padding-left: 10px;
        padding-bottom: 50px;
        

    }

    .header span {
        display: flex;
        

    }



    .header h1 {
        margin-right: 10px;
        margin-left: 10px;
        ;
    }

    .icon-wrapper {
        display: flex;
        align-items: center;
    }


    #icon {
        width: 40px;
        height: 40px;
        margin-left: 10px;
        order: 2;
    }

    footer {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    #about {
        
        margin-left: auto;
        margin-right: 10px;
        display: block;
      }
      
      a {
        display: block; /* Make the <a> tag a block-level element */
        text-align: center; /* Center the content within the <a> tag */
        text-decoration: none; /* Remove the underline */
      }


    .grid-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        align-items: space-around;
        border-top: 1px solid black;
        padding-bottom: 150px;
        padding-top: 100px;

    }
    .override-item.grid-item {
        background-color: rgba(255, 0, 0, 0.432);
    }
    .override-item.grid-item:hover {
        background-color: rgb(255, 0, 0);
       
        
    }
    button {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.8);
        background: rgb(145, 92, 182);
        
        border-radius: 4px;
        font-weight: normal;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;
      }
      button:hover {
        color: rgba(255, 255, 255, 1);
        box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
      }
      main {
        flex: 1;
      }

      footer {
        flex-shrink: 0;
      }

      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      body {
        display: flex;
        flex-direction: column;
      }

    .grid-item {
        width: 200px;
        height: 200px;
        /* background-color: lightgray; */
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background-color: #7ee793c0;
        backdrop-filter: blur(10px);
        /* Adds the blur effect */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.233);
        /* Adds a subtle shadow */
        transition: transform 0.3s ease-in-out;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        color: white;
        flex-grow: 1;
    }

   
    .grid-item:hover {
        transform: scale(1.05);
        box-shadow: 0 2px 4px rgb(0, 0, 0);
        background: linear-gradient(45deg, #0485006b, #1eff0044, #6bf78960);
    }

    .grid-item i {
        margin-bottom: 10px;
        transition: transform 0.3s ease-in-out;
        color: white;
    }

    .grid-item:hover i {
        transform: rotate(360deg);
        color: #555;

    }

    .grid-item span {
        color: #fff;
        font-weight: bold;
        opacity: 1;
        /* transition: opacity 0.3s ease-in-out; */
        /* text-shadow: 0 0 10px #fefefe, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #72ff80, 0 0 60px #7eff72, 0 0 70px #00b424;  */
    }

    .grid-item:hover span {
        color: #555;
    }

    .circular-progress {
        width: 100%;
        height: 100%;
        position: relative;
        opacity: 1;
    }


    .progress-text {
        font-size: 1rem;
        line-height: 1.2;
        color: #555;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }